<!DOCTYPE HTML>
<!--
	Identity by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% spaceless %}
{% if parent_theme_url %}
	{% set this_theme_url = parent_theme_url ~ '/identity' %}
{% else %}
	{% set this_theme_url = theme_url %}
{% endif %}
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% if current_page.title %}{{ current_page.title }} | {% endif %}{{ site_title }}</title>
	<meta name="description" content="{{ current_page.description }}">
	<!--[if lte IE 8]><script src="{{ this_theme_url }}/assets/js/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ this_theme_url }}/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ this_theme_url }}/assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ this_theme_url }}/assets/css/ie8.css" /><![endif]-->
	<noscript><link rel="stylesheet" href="{{ this_theme_url }}/assets/css/noscript.css" /></noscript>
</head>
<body class="is-loading">
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Main -->
		<section id="main">
			<header>
				<span class="avatar">
					{% if meta.image %}
						<img src="{{ config.image_prefix }}/{{ meta.image }}"
							alt="{{ current_page.title }}" />
					{% else %}
						<img src="{{ this_theme_url }}/images/avatar.jpg"
							alt="{{ current_page.title }}" />
					{% endif %}
				</span>
				<h1>{{ current_page.title }}</h1>
				<p>{{ current_page.description }}</p>
			</header>
			<footer>
				<ul class="icons">
					{% for url,name in meta.links %}
						<li><a href="{{ url }}" class="fa-{{ name }}">{{ name }}</a></li>
					{% endfor %}
				</ul>
			</footer>
		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; {{ site_title }}</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>
	</div>
	<!-- Scripts -->
	<!--[if lte IE 8]><script src="{{ this_theme_url }}/assets/js/respond.min.js"></script><![endif]-->
	<script>
		if ('addEventListener' in window) {
			window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
			document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
		}
	</script>
</body>
</html>
{% endspaceless %}
